*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 250px;
    height: 250px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    height: 750px;
    border: 10px solid black;
    border-radius: 50px;
    overflow-y: auto;
    scrollbar-width: auto;
    background-color: #243447;
    
}

.flexbox{
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: #1c2b3a;
    
}
h1,h2,h3{
    text-align: center;
    font-size: 90%;
    font-size: larger;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/images/gojda.png");
    background-size: cover;
}

.flexbox h2,h3{
    font-size: 70%;
}
nav{
    background-color: black;
    color: #4a9ebb;
    margin-bottom: 20px;
    width: auto;
}
header{
    color: white;
}